* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}
.background {
  background: url("../images/back.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.title {
  text-align: start;
  padding-left: 10%;
  padding-top: 1%;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xxx-large;
  color: darkmagenta;
  text-decoration: underline;
  height: 76h;
  width: 88vw;
}
.holder {
  margin: 0px;
  /* padding-top: 5%; */
  padding-bottom: 5%;
  height: 82vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.description {
  text-align: center;
  flex: 1;
  margin-top: 3%;
  color: darkblue;
  margin-left: 2%;
  margin-right: 2%;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Slabo 27px", serif;
  margin-top: 8%;
}

.button1,
.button2 {
  margin-top: 13%;
  padding: 4%;
  font-size: large;
  font-weight: bolder;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  transition: 1s ease;
}
.button1:hover {
  letter-spacing: 1px;
}
.button2:hover {
  letter-spacing: 1px;
}

.button1 {
  background: linear-gradient(to right, #fdc830, #f37335);
  border-top-left-radius: 10vh;
  border-bottom-left-radius: 10vh;
}
.button2 {
  background: linear-gradient(to right, #f37335, #fdc830);
  border-top-right-radius: 10vh;
  border-bottom-right-radius: 10vh;
}

.isometric {
  flex: 1;
  height: 60vh;
  margin-left: 6%;
  margin-top: 2%;
  animation: transit 3s ease-out;
}

@keyframes transit {
  from {
    opacity: 0;
    transform: translateX(-60%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.cards {
  margin-top: 2%;
  height: fit-content;
  width: 97%;
  background: url("../images/cardback.png");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: 100% 100%;
  border-radius: 3vh;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}
.innertitle {
  color: mediumblue;
}
.steps {
  color: navy;
}

.titlecard {
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: bold;
}
code {
  height: fit-content;
  width: 100%;
}
.innertext,
.expandtext,
.expandtext2,
.innertext2 {
  color: darkblue;
  font-size: larger;
  letter-spacing: 1px;
  text-align: start;
  font-weight: 600;
  padding-left: 8%;
  padding-right: 6%;
  font-family: sans-serif;
}

.innertext2 {
  padding-top: 2%;
  text-align: center;
  padding-bottom: 2%;
}

.cardholder {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 79vh;
}
.animation {
  flex: 1;
  padding-left: 3%;
  padding-right: 2%;
  width: 25%;
  height: 95%;
}

.hold {
  min-height: 100%;
  height: fit-content;
  width: 100%;
  display: none;
}
.hold1,
.start {
  height: 100%;
  width: 100%;
  display: block;
}
.code {
  text-align: center;
  color: darkblue;
  font-size: larger;
  letter-spacing: 1px;
  text-align: start;
  font-weight: 600;
  background: #eeeeee;
  padding: 1%;
  border-radius: 1vh;
  font-family: monospace;
  margin-bottom: 1%;
  margin-left: 4%;
  margin-right: 4%;
}
.card {
  height: 86%;
  width: 100%;
}
.animation2 {
  flex: 1;
  padding-left: 1%;
  width: 25%;
  height: 95%;
}

.fix {
  display: flex;
  flex-direction: row;
  width: 98%;
  min-height: 44vh;
  height: fit-content;
}
.expandtext {
  flex: 1;
  padding: 5%;
  text-align: center;
}
.card2 {
  flex: 1;
  height: 100%;
  width: 90%;
  padding: 5%;
  padding-right: 10%;
}
.fix2 {
  display: flex;
  flex-direction: row;
  width: 96vw;
  min-height: 79vh;
  height: fit-content;
}
.expandtext2 {
  flex: 1;
  padding-top: 7%;
  padding-left: 5%;
}
.card3 {
  flex: 1;
  height: 100%;
  width: 70%;
}
.caroselholder {
  flex: 1;
  width: 45%;
  padding-left: 11%;
  padding-top: 1%;
  padding-bottom: 2%;
}
.card4 {
  position: absolute;
  width: 20vh;
  height: 5vh;
}
.step {
  display: flex;
  flex-direction: row;
  height: 12vh;
  list-style-type: none;
  position: relative;
  justify-content: center;
}

.stepnum,
.stepnum1 {
  border-radius: 50px;
  padding-left: 1%;
  padding-right: 1%;
  z-index: 1;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 6%;
  margin-right: 6%;
  height: 40%;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  transition: 1s ease;
}

.stepnum1 {
  background: linear-gradient(45deg, #f12711, #f5af0a);
}

.stepnum {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(45deg, #f12711, #f5af0a);
  animation: blink 1s infinite;
}

@keyframes blink {
  from {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(45deg, #f12711, #f5af0a);
  }
  to {
    background: linear-gradient(45deg, #f12711, #f5af0a);
  }
}

.stepnum:hover {
  background: linear-gradient(45deg, #f12711, #f5af0a);
}

.tick {
  display: none;
}
.progress {
  height: 1vh;
  position: absolute;
  top: 4vh;
  width: 31vw;
  background: white;
}

.cardholder2 {
  height: fit-content;
  width: 98vw;
}

/* 
body {
  background-size: 100% 100%;
  overflow-wrap: break-word;
  background-repeat: repeat;
  background-clip: border-box;
}
.title {
  text-align: center;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xxx-large;
  color: darkmagenta;
  text-decoration: underline;
}
.description {
  text-align: center;
  margin-top: 3%;
  color: darkblue;
  margin-left: 2%;
  margin-right: 2%;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Slabo 27px", serif;
}

.background {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.instructions {
  background: transparent;
  margin-top: 2%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 2%;
  padding: 2%;
  font-size: xx-large;
  color: black;
  font-family: "Slabo 27px", serif;
}

.github {
  font-size: xxx-large;
  color: blueviolet;
  padding: 2%;
  transition: 1s ease;
}
.github:hover {
  color: darkblue;
  font-size: 175%;
}
.links {
  font-size: x-large;
  font-family: cursive;
  padding-left: 10%;
}
.subtitle {
  margin-top: 6%;
  margin-left: 4%;
  font-size: xxx-large;
  color: indigo;
  text-decoration: underline;
}

.functions {
  display: flex;
  min-height: 64vh;
  height: fit-content;
  flex-direction: row;
  background: url("../images/functionbehind.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
  margin-bottom: 5%;
  overflow: auto;
}

.function_des {
  text-align: center;
  flex: 2;
  margin-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: xx-large;
  font-family: "Slabo 27px", serif;
  color: black;
}
.card {
  flex: 1;
  padding-left: 2%;
  padding-right: 5%;
  width: 100px;
}
.functionname {
  text-decoration: underline;
}

.functions2 {
  display: flex;
  height: 64vh;
  flex-direction: row;
  margin-bottom: 5%;
}

.function_des2 {
  text-align: center;
  flex: 2;
  margin-top: 1%;
  padding-right: 5%;
  padding-left: 5%;
  font-size: xx-large;
  background: url("../images/functionbehind.png");
  background-size: 100% 100%;
  background-clip: border-box;
  font-family: "Slabo 27px", serif;
  color: black;
}

.card2 {
  flex: 1;
  padding-right: 2%;
  padding-left: 5%;
  width: 100px;
} */
