* {
  margin: 0px;
  padding: 0px;
}

.scl_icon {
  color: floralwhite;
  font-size: 330%;
  cursor: pointer;
  /* margin-left: 10%; */
  transition: 1s ease;
}

.scl_icon:hover {
  font-size: 370%;
  color: bisque;
}

.scl_icondiv {
  flex: 1;
}

.scl_card1_holder {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.scl_card1_container {
  margin: 0px;
  overflow: hidden;
  height: 50%;
  border-bottom: 1px solid black;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.scl_card1_img:hover {
  transform: scale(1.1);
}

.scl_addition {
  height: 100%;
  width: 100%;
}

.scl_card1_img {
  flex: 1;
  height: 100%;
  width: 100%;
  margin: 0px;
  transition: ease-in 1s;
}
.scl_card1_text {
  overflow-y: auto;
  flex: 1;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px;
  font-size: 125%;
  height: 50%;
  overflow-y: auto;
  text-align: center;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: linear-gradient(45deg, #000046, #1cb5e0);
  color: rgb(241, 218, 143);
}

.scl_vid_holder {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.scl_card2_holder {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  background-size: 100% 100%;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.scl_card4_holder {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.scl_card4_video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.scl_card2_text {
  margin: 0px;
  color: white;
  font-size: 243%;
  text-align: center;
}

.scl_card2_text2 {
  margin: 0px;
  color: rgb(151, 240, 240);
  font-size: 124%;
  text-align: center;
}

.scl_card2_container,
.scl_card2_container2 {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0px;
  z-index: 1;
}

.scl_card2_container {
  flex: 1;
  height: 30%;
  margin: 0px;
}
.scl_card2_container2 {
  flex: 1;
  height: 60%;
  margin: 0px;
  overflow-y: hidden;
}
.scl_card2_icon {
  border-radius: 100%;
  border: 3px solid white;
  height: 56%;
  width: 37%;
  margin-left: 28%;
  margin-top: 6%;
  background-size: cover;
}

.scl_card2_aholder {
  margin: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.scl_card3_text {
  z-index: 2;
  color: white;
  font-size: 243%;
  text-align: center;
}
.scl_card3_text2 {
  margin: 0px;
  z-index: 2;
  color: rgb(151, 240, 240);
  font-size: 124%;
  text-align: center;
}
.scl_card3_container2 {
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex: 1;
  height: 30%;
}

.scl_card4_container {
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex: 1;
  height: 60%;
}

.scl_card4_icon {
  cursor: pointer;
  border-radius: 100%;
  border: 3px solid black;
  max-height: 71%;
  max-width: 34%;
  margin-left: 29%;
  margin-top: 9%;
}
.scl_card4_details {
  margin: 0px;
  flex: 1;
}
.scl_card4_text3 {
  z-index: 2;
  color: lightblue;
  font-size: 243%;
  text-align: center;
}

.scl_card4_aholder {
  margin-right: 14%;
  margin-left: 14%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.scl_ANone {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  overflow-wrap: break-word;
  margin: 0px;
}

.scl_AOpacity {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  overflow-wrap: break-word;
  overflow: hidden;
  transition: 500ms ease-in;
  margin: 0px;
}
.scl_AOpacity:hover {
  opacity: 1;
}

.scl_AFlip {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  margin: 0px;
  border-radius: 10px;
  overflow-wrap: break-word;
  /* overflow: hidden; */
}

.scl_AFlip:hover > .scl_AFlip_front {
  transform: perspective(1000px) rotateY(-180deg);
}

.scl_AFlip:hover > .scl_AFlip_back {
  transform: perspective(1000px) rotateY(0deg);
}
.scl_AFlip_back {
  margin: 0px;
  transition: transform 2s ease;
  overflow-y: hidden;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  transform: perspective(1000px) rotateY(180deg);
  backface-visibility: hidden;
}

.scl_AFlip_front {
  backface-visibility: hidden;
  overflow-y: hidden;
  transition: transform 2s ease;
  position: absolute;
  border-radius: 10px;
  margin: 0px;
  height: 100%;
  width: 100%;
  transform: perspective(1000px) rotateY(0deg);
}

.scl_Slider {
  margin: 0px;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 3%;
}

.scl_Slider_left_button {
  margin: 0px;
  background: transparent;
  color: white;
  border-radius: 100%;
  font-size: 288%;
  font-weight: 700;
  border: none;
  outline: none;
  position: absolute;
  top: 40%;
  left: 3%;
  z-index: 2;
}

.scl_Slider_left_button:hover {
  color: rgb(77, 148, 240);
}

.scl_Slider_imgholder {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  transition: 1s ease;
}

.scl_Slider_img {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.scl_Slider_right_button {
  margin: 0px;
  background: transparent;
  color: white;
  border-radius: 100%;
  font-size: 288%;
  font-weight: 700;
  border: none;
  outline: none;
  position: absolute;
  top: 40%;
  right: 3%;
  z-index: 2;
}

.scl_Slider_right_button:hover {
  color: rgb(77, 148, 240);
}

.scl_expand_holder {
  height: fit-content;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  background: linear-gradient(#f12711, #f5af19);
  transition: 1s ease-out;
  overflow: hidden;
}
.scl_expand_title {
  color: rgb(140, 248, 189);
  padding-top: 3%;
  font-family: serif;
  letter-spacing: large;
  transition: 1s ease-out;
}
.scl_expand_description {
  display: none;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  font-size: medium;
  color: aliceblue;
  font-family: monospace;
  transition: 1s ease-out;
}
.scl_expand_button {
  background: cornflowerblue;
  outline: none;
  border: none;
  padding: 3%;
  cursor: pointer;
  border-radius: 18px;
  margin-top: 6%;
  margin-bottom: 6%;
  color: aliceblue;
  text-shadow: aqua;
  font-size: medium;
  font-family: cursive;
}

.scl_carosel {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scl_carosel_dots {
  display: flex;
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 2%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.scl_dot {
  background: transparent;
  border-radius: 50%;
  border: 2px solid white;
  height: 63%;
  width: 4%;
  margin-bottom: auto;
  margin-right: 2%;
  transition: 250ms ease-in;
  cursor: pointer;
}
.scl_dot:hover {
  border: 2px solid lightblue;
}
.scl_carosel_cards {
  display: flex;
  height: 100%;
  width: 100%;
  transition: 1s ease;
}

.scl_carosel_left,
.scl_carosel_right,
.scl_carosel_last,
.scl_carosel_first {
  position: absolute;
  z-index: 1;
  font-size: x-large;
  color: rgba(255, 255, 255, 0.8);
  transition: 500ms ease;
  cursor: pointer;
}

.scl_carosel_left {
  bottom: 2%;
  left: 2%;
}
.scl_carosel_left:hover {
  color: white;
  font-size: xx-large;
}
.scl_carosel_first:hover {
  color: white;
  font-size: xx-large;
}
.scl_carosel_last:hover {
  color: white;
  font-size: xx-large;
}
.scl_carosel_right {
  bottom: 2%;
  right: 2%;
}
.scl_carosel_right:hover {
  color: white;
  font-size: xx-large;
}
.scl_carosel_first {
  bottom: 2%;
  left: 20%;
}
.scl_carosel_last {
  bottom: 2%;
  right: 20%;
}
.scl_expandbar_holder {
  height: 100%;
  width: 100%;
}
.scl_expandbar_button {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  background: linear-gradient(to bottom, orange, red);
  border-radius: 19px;
  color: white;
  height: 100%;
  width: 50%;
  margin-left: 25%;
  cursor: pointer;
}
